.showcase-grid-container {
  display: grid;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 48px 24px;
}

.showcase-home-button {
  position: fixed !important;
  bottom: 73px;
  left: 50%;
  transform: translateX(-50%);
}

.showcase-home-button > button {
  font-size: 1.3rem;
  transform: translate3d(-50%, calc(-50% + 8px), 0);
}